.Snyatyn {
    width:200px ;
    height:150px ;
    text-align: center;
}
header {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(71, 42, 165);
}
nav {
    font-size: 20px;
    text-decoration: none;
    color:black;
    border: 3px solid royalblue;
    border-radius: 10px;
    margin: 10px 0;
    padding: 5px 0;
    background-color: aqua;
}
nav a {
    font-size: 20px;
    text-decoration: none;
    color:black;
    border: 3px solid royalblue;
    border-radius: 10px;
    background-color: royalblue ;
}
.marcer {
    color: white;
    background-color: navy;
}
main {
    background-color: yellowgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.icon {
    width: 200px;
   height: 150px;
}
main p {
    font-size: 25px;
}
h2 {
    text-align: center;
}
footer p {
    font-size: 20px;
    background-color: rgb(43, 98, 226);
    color: white;
    text-align: center;
}
.information {
    text-align:center;
    font-family: sans-serif;
    background-color:white;
    color: lightskyblue ;
    font-size: 25px;
}
footer {
    background-color: rgb(43, 98, 226);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.city {
    font-size: 25px;
    text-align: center;
}
.culture {
    color: white;
}
.photo {
    width: 300px;
    height: 200px;
    text-align: center;
}
.footer {
    font-size: 30px;
}
